{% extends "admin/base.html.twig" %}


{% block main %}

	<img src="{{ asset('image/' ~ brand.image ) }}" alt="{{ brand.name }}">
	<h2>{{ brand.name }}</h2>

	<p>{{ brand.description }}</p>

{% endblock %}