{% extends "front/base.html.twig" %}

{% block main %}

<img src="{{ asset('image/' ~ category.image) }}" alt="{{ category.name }}">
	<h2>{{ category.name }}</h2>
	<p>{{ category.description }}</p>

{% endblock %}